#myModalEstadoPago table.table.resultado{
  font-family: monospace;
  text-align: right;
}

#myModalEstadoPago .invoice-info{
  font-family: monospace;
}

#myModalEstadoPago .modal-body, #myModalEstadoPagoTriple .modal-body{
  padding: 35px;
}

#myModalEstadoPagoTriple .modal-body{
  text-align: center;
}

#myModalEstadoPagoTriple .modal-body i{
  color: #ff7e00;
}

body.unacol  .seccion-01 .col-1{
  display: none;
}

body.unacol  .seccion-01 .col-2{
  left: 0%;
}

body.unacol  .seccion-01 .col-2 .prod{
  width: 48%;
  display: inline-block;
}

body.unacol  .seccion-01 .col-2 .prod:nth-child(n+1){
  margin-left: 2%;
}

#app nav a.navbar-brand{
  margin-left: 0px;
  margin-right: 80px !important;
}

#app nav li a.active{
  color: orange !important;
  font-weight: 600;
}

#app main{
  padding-top: 50px !important;
}

#app .nav-tabs a.nav-link{
  color: #333 !important;
}

#app .card-body{
  padding: 3em;
  text-align: left;
}

#app .card .table>thead>tr>th{
  border-bottom: solid 1px #eaeaea;
}

#app #myModalProductos .table{
  border: solid 1px #eaeaea;
  font-family: monospace;
  text-transform: lowercase;
}

#app .page-item.active .page-link{
  background: #b5b5b5;
  border-color: #7a7a7a;
}

#app .page-link{
  color: #333;
}

#app #myModalProductos .table tr th:nth-child(2), #app #myModalProductos .table tr td:nth-child(2){
  width: 45%;
}

#app section.panel-vta{
  background: #FFF;
  padding: 30px;
  margin-top: 50px;
  border-top: solid 1px #eaeaea;
}

.inputojo{
  position: relative;
}

.inputojo .ojo{
  position: absolute;
  right: 10px;
  top: 6px;
}

#app #img1{
  max-width: 250px;
  border: solid 1px #eaeaea;
  background: #000;
  border-radius: 10px;
  margin-top: 20px;
  padding: 15px;
}

#app form input{
  margin-bottom: 15px;
}

.anti-row{
  margin-left: -15px;
  margin-right: -15px;
}

.titulo-col{
  padding: 15px 40px;
  border-bottom: solid 1px #ccc;
}

.cabecera .titulo-col{
  border-bottom: none;
  color: #000;
}

.sesion{
  position: absolute;
  top: 20px;
  right: 100px;
  color: #999;
  cursor: pointer;
}

.sesion a{
  color:#FFF;
}

.sesion i{
  margin-right: 5px;
}

form .form-group{
  margin-bottom: 5px !important;
}

a{
  text-decoration: none;
}

a:focus, a:hover{
  text-decoration: none;
}

body{
  background:#f7f7f7;
  font-family: 'Raleway', sans-serif;
}
#cerrar-popup{
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 9999999999999999;
  cursor: pointer;
}
#cerrar-popup img{
  width: 30px;
}
.pop-up{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FFF;
  z-index: 999999999999;
  text-align: center;
  padding-top: 12%;
  display: none;
}
.pop-up img{
  max-width: 200px;
}
.align-valor{
  text-align: right;
}
.detal{
  display: inline-block;
  margin-left: 10px;
}
.cerrar-carro{
  position: fixed;
  z-index: 999999999999999;
  top: 15px;
  right: 30px;
}
.ico-carro{
  position: fixed;
  top: 24px;
  right: 105px;
  display: none;
  text-align: center;
}
.conteo{
    font-size: .9em;
    color: #FFF;
    position: absolute;
    display: block;
    width: 100%;
    margin-top: 1px;
    margin-left: 2px;
}
.ico-carro img{
  width: 30px;
  opacity: .5
}

#menu .panel-group .panel+.panel{
  margin-top: 0 !important;
}

#menu .panel-default>.panel-heading{
  background-color: transparent !important;
  border-color: transparent !important;
  padding: 60px !important;
  padding-bottom: 30px !important;
}

#menu .formulario{
  width: 450px;
  margin: 45px;
}
#menu form label{
  font-weight: normal;
}
#menu form input{
  margin-bottom: 20px;
  background: transparent !important;
  border:none !important;
  box-shadow: none !important;
  border-bottom: solid 1px #ccc !important;
  border-radius: 0px !important;
}
#menu .panel:hover{
  background-color: #dcdcdc !important;
  transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}
#menu form button.boton{
  background: #00FF8B;
  color: #193A68;
  border-radius: 50px;
  padding: 10px 30px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 30px;
}

#menu form strong{
  color: #FE7E00;
  margin-bottom: 20px;
  display: inline-block;
}

#menu form .agregar-direccion{
  text-align: right;
}

#menu form img{
  width: 32px;
  margin-left: 5px;
}

#menu form a{
  color: #000;
}

#menu .panel{
  background-color: transparent !important;
  padding-bottom: 2em !important;
  transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}

#menu .panel-group .panel-heading+.panel-collapse>.list-group, #menu .panel-group .panel-heading+.panel-collapse>.panel-body{
  border:none !important;
}

#menu .panel-title{
  font-size: 20px;
}

#menu .ico-ingresa{
  margin-right: 20px;
}

#menu{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 55%;
  right: 0;
  background: #EFEFEF;
  z-index: 9999;
  display: none;
  overflow: scroll;
}

#menu.mostrar{
  margin-left: 0px;
}
#cerrar-menu{
  position: fixed;
  top: 20px;
  right: 35px;
  cursor: pointer;
  z-index: 999999;
}

#cerrar-menu img{
  width: 25px;
  opacity: .6;
  transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}

#cerrar-menu img:hover{
  opacity: 1;
  transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}

#menu img.ico-ingresa{
  width: 45px;
  margin-top: -12px;
}

#menu h3{
  display: inline-block;
  margin-left: 20px;
  margin-top: 5px;
}

header{
  background:#000;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 30px;
  z-index:7;
}

header .logo{
  max-width: 131px;
  max-height: 40px;
}

header .hamburguesa{
  cursor: pointer;
  float:right;
  margin-top:8px;
}

.cerrar-carro{
  display: none;
}

header .hamburguesa img{
  width:35px;
  opacity: .6;
  transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}

header .hamburguesa:hover img{
  opacity: 1;
  transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}

.seccion-01{
  left: 0;
  top: 0;
  bottom: 0;
  right: 45%;
  background:#eaeaea;
  position:fixed;
  padding-top:60px;
  overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.seccion-02{
  position:fixed;
  left: 55%;
  top: 0;
  bottom: 0;
  right: 0;
  padding-top: 60px;
  border-left: solid 1px #ccc;
  box-shadow: -5px 0px 10px rgb(0 0 0 / 25%);
}

.table-hover>tbody>tr{
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

.table-hover>tbody>tr:hover{
  background-color: #e9e9e9 !important;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

#myModalBodegaDefecto .row.form-group{
  padding: 20px;
}

#myModalBodegaDefecto img.tienda{
  width:180px;
  margin-bottom: 20px;
}

.resultados{
  position:fixed;
  background:#fff;
  padding: 40px;
  bottom: 0;
  font-family: monospace;
}

.fran-supa{
  box-shadow: 0px 0px 12px rgba(0,0,0,.1);
  overflow: hidden;
  position: relative;
  z-index: 9;
}

.fran-supa .buscador{
  float: left;
  width: 70%;
  position: relative;
}

.fran-supa .buscador form input{
  border: none;
  width: 100%;
  height: 50px;
  padding-left:40px;
  font-size: 16px;
  border: solid 1px white;
}

.fran-supa .buscador form input::placeholder{
  color:#000 !important;
}

.fran-supa .buscador form input:focus{
  border-color: rgb(255, 144, 0);
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(255,144,0,0.6);
  outline: 0 none;
}

.fran-supa .buscador form button{
  background: none;
  border: none;
  position: absolute;
  padding-right: 20px;
  padding-left: 20px;
  right: 0;
  line-height: 50px;
}

.fran-supa .buscador form button img.buscar{
  width: 20px;
}

.fran-supa .filtro{
  float: left;
  width: 30%;
  background: #f7f7f7;
  height: 50px;
}

.fran-supa .filtro select{
  background: none;
  border:none;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 90%;
  padding-left: 20px;
  font-size: 16px;
  color: #666;
}

.listado-productos{
  position: fixed;
  top: 110px;
  bottom: 0;
  left: 0;
  right: 45%;
  z-index: 0;
}

.listado-productos .col-1{
  position: absolute;
  left: 0;
  right: 50%;
  top: 0;
  bottom: 0;
  overflow: scroll;
}

.listado-productos .col-2{
  position: absolute;
  left: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: scroll;
  border-left: solid 1px #eaeaea;
  padding-top: 0px;
}

.listado-productos h2{
  font-weight: bold;
  opacity: .4;
  font-size: 16px;
  padding-left: 40px;
  margin-top: 30px;
  padding-top: 0;
  margin-bottom: 20px;
}

.listado-productos .prod{
  padding: 20px 30px;
  position: relative;
  background: #FFF !important;
  margin-bottom: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 80px;
  overflow: hidden;
  box-shadow: 3px 3px 3px rgb(0 0 0 / 5%);
}

.detal h5{
  margin-top: 11px;
  margin-bottom: 0px;
  max-width: 260px;
  text-transform: lowercase;
  color: #000;
}

.detal h5::first-letter{
  text-transform: uppercase;
}

#tb_lista_carro{
  text-transform: lowercase;
}

p.lead{
  font-size: .9em;
  margin-bottom: 5px;
  color: #888;
  font-family: monospace;
}

.fa-trash{
  color: #999;
}

#lista_col1, #lista_col2{
  padding: 15px;
}

.listado-productos .prod .thumb{
  width: 80px;
  float: left;
  margin: 0px;
  border-right:solid 1px #eaeaea;
  height: 80px;
  cursor: pointer;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  z-index: 1;
  opacity:1;
  position: relative;
}

.listado-productos .prod .thumb:hover{
  opacity: .3;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -webkit-filter: blur(4px);
   filter: blur(4px);
}

.zoom{
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 0;
  font-weight: bold;
  font-size: 16px;
}

.listado-productos .prod h3{
  font-size: 1.3em;
  display: block;
  font-weight: normal;
  margin-top: 20px;
}

.listado-productos .prod .nuevo{
  background: #fff;
  color: #ff7e00;
  border: solid 1px #ff7e00;
  display: inline-block;
  padding: 2px 10px;
  padding-bottom: 0px;
  border-radius: 15px;
  font-size: 11px;
  font-weight: bold;
  position: relative;
  top: -3px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

.listado-productos .prod .nuevo:hover{
  background: #ff7e00;
  color: #fff;
  border: solid 1px #ff7e00;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

.listado-productos .prod:hover{
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

.listado-productos .prod .mas{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: transparent;
  border: solid 1px #ccc;
  color: #ccc;
  text-align: center;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  opacity: 0;
  line-height: 80px;
  padding: 0px 20px;
  margin-right: -50px;
  cursor: pointer;
}

.listado-productos .prod:hover .mas{
  opacity: 1;
  background: #ff7e00;
  color: #fff;
  border-color: #ff7e00;
  right: 0;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  position: absolute;
  margin-right: 0px;
}

.listado-productos .prod .precio{
  background: transparent;
  position: absolute;
  right: 30px;
  top: 18px;
  color: #999;
  text-align: center;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  line-height: 22px;
  font-size: 1.3em;
  z-index: 9;
  font-family: monospace;
}

.listado-productos .prod .precio::after{
  content: "IVA Incl.";
  font-size: .6em;
  display: block;
}

.listado-productos .prod:hover .precio{
  opacity: 0;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

.carro{
  overflow: scroll;
  padding-bottom: 313px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 55%;
  top: 164px;
}

.carro table{
  margin: auto;
  margin-top: 0px;
  width: 100%;
}

.cabecera{
  background: #f7f7f7;
  padding: 0;
  color: #999;
  border-bottom: solid 1px #ccc;
}

.cabecera-tabla{
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #eaeaea;
}

.carro img.thumb{
  width: 60px;
  margin-right: 7px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  border:none;
}

form .input-group-addon{
  width: 105px;
  text-align: left;
  background: #FFF;
}

form .input-group-addon.dscto{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  width: inherit;
  line-height: 20px;
}

form .input-group-addon.total{
  background: #ff7e00;
  color: #FFF;
}

form button.btn-block{
  background: #00FF8B;
  color: #193A68;
  border-radius: 50px;
  padding: 10px;
  border: none;
  font-size: 1.6em;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
}

.seccion-02 .carro .mas, .seccion-02 .carro .menos{
  background: transparent;
  border: solid 1px #ccc;
  color: #ccc;
  text-align: center;
  margin-top: 17px;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.seccion-02 .carro .mas{
  margin-left: 7px;
}

.seccion-02 .carro .menos{
  margin-right: 7px;
}

.seccion-02 .carro .mas:hover, .seccion-02 .carro .menos:hover{
  background: #ff7e00;
  color: #FFF;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

.btn-primary{
  color: #8a8a8a;
  background-color: #d2d2d2;
  border-color: #9E9E9E;
}

.btn-primary:hover{
  color: #FFF;
  background-color:#ff7e00ab;
  border-color: #ff7e00;
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary{
  color: #FFF;
  background-color: #ff7e00;
  border-color: #ff7e00;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
  color: #FFF;
  background-color: #ff7e00;
  border-color: #ff7e00;
}

.btn-primary.focus, .btn-primary:focus{
  color: #8a8a8a;
  background-color: #d2d2d2;
  border-color: #9E9E9E;
}

#tb_lista_carro tr td:nth-child(1){
  width: 50%;
}

#tb_lista_carro tr td:nth-child(2), #tb_lista_carro tr td:nth-child(3), #tb_lista_carro tr td:nth-child(4){
  width: 20%;
  text-align: center;
}

#tb_lista_carro tr td:nth-child(2), #tb_lista_carro tr td:nth-child(3){
  font-family: monospace;
}

.fa-trash{
  cursor: pointer;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

.fa-trash:hover{
  color: #ff7e00;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

.mp{
  display: none;
}

#ModalProd .modal-title{
  font-weight: bold;
  color: #000;
  font-size: 24px;
  text-transform: lowercase;
}

#ModalProd .modal-title::first-letter{
  text-transform: uppercase;
}

#ModalProd p.lead{
  font-size: 1em;
  margin-bottom: 15px;
  color: #000;
  font-family: arial;
}

#ModalProd h4{
  font-family: monospace;
  font-size: 22px;
}

#ModalProd form{
  width: 130px;
  margin-top: 10px;
}

#ModalProd form input{
  margin-bottom: 10px;
  font-family: monospace;
}

#ModalProd .modal-body{
  padding: 45px 15px;
}

#ModalProd .btn{
  background: #ff7e00;
  color: #FFF;
  transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}

#ModalProd .fa-times{
  margin-right: -45px;
  margin-top: -15px;
  cursor: pointer;
  transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}

#ModalProd .fa-times:hover{
  color: #999 !important;
}

#ModalProd .btn:hover{
  background: #d56900;
  transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}

#ModalProd .btn i{
  margin-left: 5px;
}

#ModalProd .modal-body img#Modal_ImgProd{
  border: solid 1px #eaeaea;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#ModalProd #Modal_CodigoProd, #ModalProd h5{
  font-family: monospace;
}

.bloqueimg{
  text-align: right;
}

#myModalBodegaDefecto .modal-footer button.btn-secondary{
  background: #ff7e00;
  color: #fff;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

#myModalBodegaDefecto .modal-footer button.btn-secondary:hover{
  background: #d97412;
  color: #fff;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

#myModalBodegaDefecto h4.modal-title{
  font-weight: bold;
  text-align: center;
  font-size: 24px;
}

@media (min-width: 1680px) {
  .resultados form .form-group{
    margin-bottom: 15px !important;
  }
}

@media (min-width: 1440px) {
  .carro table.table tr td:nth-child(3), .carro table.table tr td:nth-child(4){
    padding-top: 28px;
  }
}

@media (max-width: 1440px) and (min-width: 1025px) {
  .listado-productos .prod .precio{
    right: 20px;
    top: 35px;
    text-align: right !important;
  }
}

@media (max-width: 1362px) {
  .carro table.table tr td:nth-child(3), .carro table.table tr td:nth-child(4){
    padding-top: 35px;
  }
  .detal h5{
    max-width: 180px;
  }
  #tb_lista_carro tr td:nth-child(1){
    width: 43%;
  }

  #tb_lista_carro tr td:nth-child(2), #tb_lista_carro tr td:nth-child(3){
    width: 15%;
    text-align: center;
  }
  #tb_lista_carro tr td:nth-child(4){
    width: 10%;
  }
  .resultados{
    padding: 20px;
  }
  .carro{
    padding-bottom: 273px;
  }
}

@media (min-width: 1200px){
  .modal-xl {
      width: 1140px !important;
  }
}

@media (max-width: 1024px) {
  .detal h5 {
    max-width: 215px;
  }
  .cerrar-carro{
    display: block;
  }
  .sesion{
    top:17px;
    right: 200px;
  }
  .pop-up{
    padding-top: 30%;
  }
  .carro table.table tr td:nth-child(3), .carro table.table tr td:nth-child(4){
    padding-top: 35px;
  }
  .ico-carro{
    display: block;
    top: 14px;
  }
  header .hamburguesa{
    margin-top: 5px;
  }
  .seccion-02{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999999;
    background: rgba(255, 255, 255, 1);
    padding-top: 0px;
  }
  .seccion-01{
    right: 0;
  }
  .listado-productos{
    right: 0;
  }
  .carro{
    left: 0;
    top: 101px;
  }
  .carro .cabecera{
    top: 0;
    right: 0;
    left: 0;
    padding: 12px 12px;
  }
  .resultados{
    border-left:inherit;
    background: #efefef;
  }
  #menu{
    left: 0;
  }
}

@media (min-width: 992px){
  .modal-lg, .modal-xl {
      width: 800px;
  }
}

@media (max-width: 768px) {
  .listado-productos .prod .mas{
    margin-right: 0;
    top: 100px;
  }
  .form-group .btn-group.dcto{
    margin-left: 8px;
  }
  .seccion-02 .carro .mas, .seccion-02 .carro .menos{
    margin-top: 15px;
  }
  .align-valor{
    text-align: right;
  }
  .carro table.table tr td:nth-child(3), .carro table.table tr td:nth-child(4){
    padding-top: 25px;
    text-align: left;
  }
  header .logo {
    max-width: 120px;
  }
  header .hamburguesa{
    margin-top: 5px;
  }
  header .hamburguesa img{
    width: 40px;
  }
  .resultados .form-group .input-group input.form-control{
    width: 100%;
  }
  .carro{
    border-bottom: solid 1px #dcdcdc;
    max-height: inherit;
    left: 0;
    top: 101px;
    padding: 0px 20px;
    padding-bottom: 273px;
  }
  .listado-productos .prod{
    text-align: center;
    border-bottom: solid 1px #eaeaea;
    padding: 15px 0px;
    text-align: center;
  }
  .listado-productos .prod .thumb{
    width: 70px;
    height: 70px;
    float: none;
  }
  .detal{
    display: block;
    margin-left: 0;
  }
  .detal h5 {
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 16px;
  }
  .detal p.lead{
    margin-bottom: 11px;
  }
  .listado-productos .prod h3{
    display: block;
    font-size: 1.6em;
    margin-top: 0;
  }
  .listado-productos .prod .precio{
    position: relative;
    top: 10px;
    line-height: 15px;
    right: 0;
    margin-bottom: 5px;
  }
  .listado-productos .prod .mas{
    left:0;
  }
  .listado-productos .prod:hover .mas{
    background: transparent !important;
    opacity: 0;
  }
  .listado-productos .prod:hover .precio{
    opacity: 1;
  }
  .prod hr{
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 30px;
  }
  .seccion-01{
    padding-top: 55px;
  }
  .seccion-02{
    overflow: auto;
    padding-top: 0;
  }
  #lista_col1{
    padding-left: 30px !important;
  }
  #lista_col2{
    padding-right: 30px !important;
  }
  .zoom{
    display: none;
  }
  #ModalProd .modal-dialog{
    margin: 30px;
    text-align: center;
  }
  #ModalProd .modal-title{
    text-align: center;
    padding: 0px 20px;
  }
  #ModalProd form{
    margin: auto;
  }
  .bloqueimg{
    text-align: center;
  }
  .bloqueimg img{
    max-width: 200px;
    margin-bottom: 20px;
  }
  #myModalBodegaDefecto h4.modal-title{
    padding: 0px 23px;
  }
}

@media (max-width: 600px) {
  body.unacol .seccion-01 .col-2 .prod{
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
  }

  body.unacol #lista_col2{
    text-align: center;
  }

  body.unacol .seccion-01 .col-2 .prod:nth-child(n+1) {
    margin-left: 0%;
  }
  .pop-up{
    padding-top: 45%;
  }
  #menu .formulario{
    width: 80%;
    font-size: 1.3em;
  }
  .align-valor{
    text-align: left;
  }
  .carro table.table tr td:nth-child(3), .carro table.table tr td:nth-child(4){
    text-align: center;
  }
  .sesion{
    display: none;
  }
  .carro{
    top: 95px;
    padding: 0px;
    padding-bottom: 390px;
  }
  .carro img.thumb{
    display: none;
  }
  .carro table.table tbody td:nth-child(1){
    padding-top: 25px;
  }
  .carro table {
    margin-top: 0;
    margin-bottom: 0px;
  }
  .fran-supa .buscador{
    width: 100%;
  }
  .fran-supa .filtro{
    width: 100%;
  }
  .fran-supa .filtro select{
    width: 96%;
  }
  .listado-productos{
    top: 155px;
  }
  .fran-supa .buscador form input{
    padding-left: 23px;
  }
  header{
    padding: 10px 20px;
  }
  .titulo-col{
    font-size: .9em;
  }
  #lista_col1, #lista_col2 {
    padding: 10px !important;
  }
  #lista_col1{
    padding-right: 5px !important;
  }
  #lista_col2{
    padding-left: 5px !important;
  }
  .resultados{
    right: 0;
    left: 0;
  }
  #tb_lista_carro tr td:nth-child(1){
    width: 30%;
  }
  #tb_lista_carro tr td:nth-child(2) {
    width: 20%;
  }
  #tb_lista_carro tr td:nth-child(3) {
    width: 18%;
  }
  .form-group .btn-group.dcto{
    margin-left: 0px;
  }
  .cabecera-tabla{
    padding-left: 15px;
    padding-right: 0px;
  }
  .cabecera .titulo-col{
    font-size: 1.2em;
    padding: 10px 15px;
  }
  .carro table.table tbody td:nth-child(1), .carro table.table tbody td:nth-child(1){
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .seccion-02 .carro .mas, .seccion-02 .carro .menos {
    margin-top: 6px;
  }
  .carro table.table tr td:nth-child(3), .carro table.table tr td:nth-child(4) {
    padding-top: 16px;
  }
  .resultados{
    padding: 20px 10px;
  }
}
